{% extends "base.html" %}

{% block content %}
<h1> Signup</h1>
<form action = "/vaildate" method="POST">
    <label>
        Username
        <input type="text" name="user" value="{{user}}" style="margin-left: 45px;" /> 
        <span style="color: red;">{{user_error}}</span>
    </label>
    <br>
    <label>
        Password
        <input type="password" name="pass" style="margin-left: 48px; margin-top: 5px;"/>
        <span style="color: red;">{{pass_error}}</span>
    </label>
    <br>
    <label>
        Verify Password
        <input type="password" name="V_pass" / style="margin-left: 3px; margin-top: 5px;">
        <span style="color: red;">{{v_pass_error}}</span>
    </label>
    <br>
    <label>
        Email (optional)
        <input type="text" name="e-mail" value="{{email}}" style="margin: 5px;" />
        <span style="color: red;">{{email_error}}</span>
    </label>
    <br>
    <input type="submit" placeholder="Submit Query" />
</form>
{% endblock %}